#search {
  width: 50%;
  margin: 20px auto;
  background: #f0f0f0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#search input {
  width: 80%;
  height: 35px;
  padding: 5px;
  border: none;
}

#search input[type="submit"] {
  width: 20%;
  height: 45px;
  background-color: crimson;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

#results {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  gap: 10px;
}

.item {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.item:hover {
  transform: scale(1.05);
}

#pagination ul {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

#pagination ul a {
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in;
}

#pagination ul a:hover {
  background: #535353;
  color: #fff;
}

#selectedAllWrapper {
  width: 90%;
  margin: 10px auto;
}

.itemSelected {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#deleteItem {
  display: none;
}